@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.main-container{
    min-height:40.8rem;
    min-width: 37.5rem;
    background-color: black;
    border-radius: 15px;
    color: #ffffff; 
}
.close{
    width: 100%;
    display: flex;
    height: 3.313;
    padding: 0.7rem 1.20rem;  
}
.close-icon{
width: 47.2%;
}
.close-icon i{
    padding-top: 0.4rem;
    font-size: 1.2rem; 
}
.twitter-logo i{
    color: #ffffff;
    font-size: 2rem;
}
.container{
    padding: 0  9.25rem 0 9.375rem;
   
}
.text{
    margin-top: 12px;
}
.text h1{
    font-weight: 500;
    color: #E7E9EA;
}
.email-logo{
    padding:  0.3rem  0.5rem 0 0.5rem;
}
.email-logo img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.google-icon{
    padding: 0.4rem 0 0 0;
}
.google-icon img{
    height: 20px;
    width: 35px;
}
.contain{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 5px;
    background-color: #ffffff;
    border-radius: 30px;
    color: black;
    margin-top: 25px;
    cursor: pointer;
    
}
.email-data{
    display: grid;
    font-size: 12px;
    margin-right: 5rem;
   line-height: 0.8rem;
}
.email-data span:nth-child(1){
    font-weight: bold;
}
.apple-login{
    margin-top: 1.53rem;
    background-color: #ffffff;
    color: black;
    width: 100%;
    padding: 6px 6px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

}
.apple-login i{
    padding-right: 3px;
    font-size: 1.3rem;
    margin-top: 3px;
}
.option{
    display: flex;
    margin: 0 10px 0 0px;
}
.line1{
    width: 50%;
    
}
.horizontal-line {
    border: none;
    height: 1.7px; /* Thickness of the line */
    background-color: #333639; /* Color of the line */
    width: 100%; /* Full width of the container */
    margin: 21px 0; /* Top and bottom spacing */
  }
  .option p{
    padding: 10px 7px 0 7px;
  }
 
  .box input{
    padding: 19px 10px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #333639;
    font-size: 16px;
    color: #ecedef;
  }

  .box input:focus{
    outline: 2px solid #1d9bf0;
  }
  .next-btn button{
    margin-top: 1.8rem;
    width: 100%;
    text-align: center;
    padding: 9px 5px;
    background-color:#ffffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  .forgot-pass{
    margin-top: 27px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin-right: 2.4rem;
    border-radius: 20px;
    padding: 5px 0;
    background-color: transparent;
    border:1px solid rgb(83, 100, 113);
    cursor: pointer;
  }
  .forgot-pass:hover{
    background-color:rgba(239,243,244,0.1);
  }
  .forgot-pass a{
    color: #EFF3F4;
    text-decoration: none;
    
    
  }